# Google Service token (see https://cloud.google.com/iam/docs/creating-managing-service-account-keys#creating_service_account_keys)
G_SERVICE_TOKEN='{ "type": "service_account", "project_id": "", "private_key_id": "", "private_key": "", "client_email": "", "client_id": "", "auth_uri": "", "token_uri": "", "auth_provider_x509_cert_url": "", "client_x509_cert_url": "" }'
# Google Sheets ID (see https://developers.google.com/sheets/api/guides/concepts#spreadsheet_id)
G_SHEET_ID=''