# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# environment
.env
lirr-nyp-scraper.json

# debug
npm-debug.log*

# data
data/*
!data/**/.keep

# misc
.DS_Store
*.pem